
<div ng-controller = "homeController">
  

<h2>Welcome Trainer </h2>

<p> If you would like to view the pokedex please click on the pokedex link</p>
  <p> But if you would access to more beneifits please register and login</p>
<div class="row mb-9">
 <div class="col-sm-1">
       
    </div>
    <div class="col-sm-3">
        <img src="/images/squirtle.png" alt="" width="128" height="128">
    </div>
       
    <div class="col-sm-3">
  <img src="/images/charmander.png"   alt="" width="128" height="128">
    </div>
    <div class="col-sm-3">
  <img src="/images/bulbasaur.png" alt="" width="128" height="128">
    </div>

  </div>

</div>